.idea/*
nbproject/*
*~
*.tar.gz
*.zip

# Ignore uploaded files.
public/uploads/*
!public/uploads/empty

# Ignore server default files.
_private/*
_vti_bin/*
_vti_cnf/*
_vti_log/*
_vti_pvt/*
_vti_txt/*
_vti_inf.html
_*